Tuples - A sequence of value and it is indexed by a integer. We can't change the elements in the tuple.

In [1]:
tuple1 = ("hello",13, 3.14, True)
print(tuple1)

('hello', 13, 3.14, True)

In [5]:
tupl2 = (1,)
print(tupl2)
print(type(tupl2))

(1,)
<class 'tuple'>

In [4]:
tup3 = (1)
print(tup3)
print(type(tup3))

1
<class 'int'>

In [7]:
tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [8]:
tuple2 = tuple([1, 2, 3, 4])
print(tuple2)

(1, 2, 3, 4)

In [13]:
t1 = (1,2,3,4,5)
t2 = t1 + (6,)  # without a comma, it will not be a tuple
print(t2)
t2 += (10,)
print(t2)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 10)

In [ ]:
#Write a python program to input ‘n’ employee salaries and find the minimum and maximum salary amongst ‘n’ employees
number_of_employees = int(input("Enter number of employees: "))
salaries = ()
for i in range(number_of_employees):
    salary = float(input("Enter salary of a employee: "))
    salaries = salaries + (salary,)
print("Salaries of employees:", salaries)
print("Minimum salary:", min(salaries))
print("Maximum salary:", max(salaries))